[submodule "bundle/Unite"]
	path = bundle/Unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/NeoComplete"]
	path = bundle/NeoComplete
	url = https://github.com/Shougo/neocomplete.vim.git
