[submodule "bundle/SkyBison"]
	path = bundle/SkyBison
	url = https://github.com/paradigm/SkyBison.git
[submodule "bundle/Theme_Jellybeans"]
	path = bundle/Theme_Jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/Matchit"]
	path = bundle/Matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "bundle/NeoComplete"]
	path = bundle/NeoComplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/NERDCommenter"]
	path = bundle/NERDCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Syntax_Python"]
	path = bundle/Syntax_Python
	url = https://github.com/hdima/python-syntax.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/Taglist"]
	path = bundle/Taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/Fugitive"]
	path = bundle/Fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/Theme_Hybrid"]
	path = bundle/Theme_Hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "bundle/Indent_Guides"]
	path = bundle/Indent_Guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/CtrlP"]
	path = bundle/CtrlP
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/Easymotion"]
	path = bundle/Easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/Theme_All"]
	path = bundle/Theme_All
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/Unite"]
	path = bundle/Unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/Ack"]
	path = bundle/Ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/Arduino"]
	path = bundle/Arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "bundle/Syntax_Arduino"]
	path = bundle/Syntax_Arduino
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "bundle/Airline"]
	path = bundle/Airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/Ag"]
	path = bundle/Ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/Better-whitespace"]
	path = bundle/Better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
